#users{
  width: 100%;
  height: 900px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Assistant", assistant, heebo, rubik, open sans hebrew;
  /* color: #5c2c0c; */
}

body{
  direction: rtl;
  margin: 0px;
}

#root{
  margin: 0px;
}

#layout{
margin: 0px;
display: grid;
}

a{
  text-decoration: none;
  color: #5c2c0c;
}

h1{
  font-size: 53px;
  font-weight: 700;
  text-decoration: none;
  color: #a0804d;
  text-align: center;
}

/* button* {
  color: #ffffff;
    height: 58px;
    cursor: pointer;
    font-size: 23px;
    font-weight: 600;
    border: solid;
    box-shadow: 5px 4px 0px 0px #c0a4874f;
    border-radius: 50px;
    background-color: #5c2c0c;
}

button:hover {
  background-color: #4a1f0a;
} */

/***************************************/
#darkBody{
  z-index: 1 !important;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
}

.logoImg{
  width: 100px;
  float: right;
  margin: 5px 26px;
}

#menuBox{
  width: 100%;
  height: 70px;
  z-index: 10;
}

#menu{
  width: 100%;
  height: 70px;
  background-color: #ffffffa1;
  flex-direction: row;
  display: flex;
  justify-content: flex-start;
  position:fixed;
}

#menuLogo{
  width: 20%;
}

#menuLinks{
  width: 85%;
    flex-direction: row;
    display: flex;
    justify-content: flex-end;
}

.menuLink {
  position: relative;
    display: inline-block;
    line-height: 19px;
    padding: 0px 1.9%;
    text-align: center;
    color: #5c2c0c;
    text-decoration: none;
    height: 70px;
    align-content: center;
}

.menuLink:hover {
  background-color: #deb88721;
}

.menuLink::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #5c2c0c; 
  transition: width 0.4s ease, left 0.4s ease; 
}

.menuLink:hover::after {
  width: 100%; 
  left: 0; 
}

#secondMenu{
  display: none;
}

#newBorn{
  background-color: #c79446;
  padding: 0px 10px;
  width: 147px;
  height: 70px !important;
}

#secondMenuNB{
  height: 70px;
  align-content: center;
  color: #5c2c0c;
}

#secondMenuNB path{
  color: #5c2c0c;
}

.secondMenuLinks{
  width: 157px;
    margin-right: -10px;
    padding: 0px 5px;
    background-color: #ffffffc9;
    color: #5c2c0c;
    height: 56px;
    line-height: 16px;
    border-top: solid 1px #ddd;
    display: block;
    font-size: 15px;
    align-content: center;
}

.secondMenuLinks:hover{
  background-color: #ffffffe0;
}

#menuIcons{
  display: flex;
  margin: 19px 20px 0px 20px;
}

.menuIcon{
  width: 46px;
  font-size: 25px;
  text-align: center;
}

#countCart{
  background-color: #ffffff;
  width: 15px;
  height: 15px;
  border-radius: 100px;
  text-align: center;
  line-height: 15px;
  margin: -21px 4px 0px 0px;
  font-size: 13px;
  border: solid 1.5px #b18050;
  position: absolute;
  color: #888;
}

#loginContainer{
  display: grid;
  align-content: center;
  cursor: pointer;
  color: #5c2c0c;
}

#loginUpBtn{
  height: 50px;
}

#loginUser{
  font-size: 14px;
  line-height: 2px;
  text-align: center;
  align-content: start;
}

#toUp{
  position: fixed;
  left: 30px;
  bottom: 20px;
}

#toUp svg{
  font-size: 45px;
  color: #c79446;
}

/***************************************/


#homePage{
  width: 100%;
  display: grid;
}

#homePage h1 {
  font-size: 50px;
  font-weight: 200;
  text-decoration: none;
  color: #373737;
  text-align: center;
}

#video{
  width: 100%;
}

.contentText{
  display: flex;
  position: absolute;
  height: 300px;
  right: 49%;
  bottom: 10%;
}

.contentVideo{
  width: 100%;
  float: right;
  display: flex;
}

/* VideoTitle */
.type-container {
  display: flex;
    align-items: flex-start;
    font-size: 47px;
    line-height: 48px;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 5px;
    flex-direction: column;
}

.typing-container {
  height: 102px;
}

.typing-text {
  display: inline;
  color:#fff;
  font-family: "Amatic SC", assistant, heebo, rubik, open sans hebrew;
  white-space: pre-wrap;
}

.typing-text-2 {
  color:#c79446;
  font-size: 60px;
  font-weight: 900;
  text-shadow: 0 0 11px #3b1a09;
}

.typing-text-3 {
  color: #c79446;
    font-size: 101px;
    font-weight: 900;
    margin: -65px 154px 29px 0px;
}

.typing-text-4 {
  color:#fff;
  font-size: 44px;
  font-weight: 700;
}

.cursor {
  display: inline;
  animation: blink 0.75s step-start infinite;
  color: #fff;
}

@keyframes blink {
  50% { border-color: transparent; }
}


/***************************************/


#about{
  width: 100%;
  height: max-content;
  display: grid;
  background-image: url('./assets/images/candy.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* 
@keyframes slideInFromBottom {
  0% {
      transform: translateY(50px);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
} */

/* #aboutTitleH1Box{
  height: 147px;
} */

#aboutTitleH1{
  height: 128px;
  overflow: hidden;
}

@keyframes slideUpAbout {
  from {
    margin-top: 113px;
  }
  to {
    margin-top: 54px;
  }
}
#about h1 {
  color: #5c2c0c;
  margin-top: 54px;
  animation: slideUpAbout 1.8s ease-out;
}

#aboutLeft{
  width: 50%;
  float: right;
  margin: -50px 5% -86px 0px;
  z-index: 1;
  position: relative;
}

#homesplash{
  width: 86%;
}

#aboutRight{
  width: 45%;
  float: right;
}

#logoMin{
  width: 32%;
  margin: 6% 10% 2% 10%;
}

#aboutRight p{
  font-size: 17px;
    margin-top: 20px;
    line-height: 24px;
}

#aboutBtn:hover{
  color: #fff;
  background-color: #5c2c0c;
  border: solid 2px #fff;
}

#aboutBtn{
  width: 189px;
    height: 50px;
    background-color: #ffffff;
    cursor: pointer;
    display: block;
    line-height: 45px;
    text-align: center;
    font-size: 19px;
    font-weight: 700;
    border: solid;
    margin: 53px auto -27px;
    z-index: 1;
    position: relative;
    border-radius: 50px;
}

#aboutInfo{
  background-color: transparent;
  background-image: linear-gradient(180deg, #C7944630 0%, #FFFFFF12 100%);
  width: 84%;
  padding: 8%;
  height: 300px;
  align-content: center;
}

.aboutInfo{
  width: 18%;
  height: 200px;
  margin: 1.5%;
  float: right;
  text-align: center;
  align-content: center;
  padding: 2%;
  z-index: 2;
  position: relative;
}

.aboutInfoTitle h2{
  font-size: 49px;
  font-weight: 800;
  line-height: 38px;
  margin: 70px 0px 40px 0px;
}

.elseMargin{
  margin: 40px 0px 10px 0px !important;
}

.aboutInfoBack:hover{
    font-size: 153px;
}

.aboutInfoBack{
  position: relative;
    line-height: 33px;
    float: right;
    font-size: 123px;
    width: 18%;
    height: 200px;
    margin: 0.5% -23.5% 1.5% 1.5%;
    text-align: center;
    align-content: center;
    padding: 2%;
    color: #c79446 !important;
}

/***************************************/

#ourBox{
  width: 100%;
  border-top: solid 3px #2f8d45;
}

#ourBoxContainer{
  display: flex;
  flex-direction: row;
}

#ourBox h1{
  text-align: right;
  margin: 10px 23% -20px 0px;
}

#ourBoxText{
  width: 60%;
    float: right;
    padding: 4%;
}

.flex-container {
  display: flex;
  gap: 22px;
  height: 143px;
  align-items: start;
  justify-items: start;
}

.item {
  text-align: center;
    cursor: pointer;
    font-size: 13px;
}

.item:hover {
  text-align: center;
}

.itemIcon svg{
  font-size: 49px;
  padding: 4px 20px;
  color: #2f8d45;
}

.itemIcon svg:hover{
  color: #0c5d1f;
}


.itemIconButton{
  font-size: 14px;
  text-align: center;
  line-height: 8px;
  width: 67%;
  padding: 4px 0px 15px 0px;
  color: #212121;
  border: solid 2px #2f8d45;
  margin: auto;
  background-color: #2f8d4521;
  border-radius: 100px;
}

.itemIconButton svg{
  font-size: 16px;
  text-align: center;
  margin: 7px 0px -2px 6px;
  color: #2f8d45;
}

.itemIcon:hover {
  backdrop-filter:none;
    color: #353535;
    text-shadow: 0px 0px 20px #ffffffc9;
}

.itemText{
  font-size: 14px;
}

#ourBoxImg{
  width: 40%;
  float: right;
  margin-top: -153px;
}

.ourBoxImg{
  width: 94%;
}

/***************************************/
/* homePage - recommends */

#recommends{
  width: 100%;
  height: 500px;
  padding: 4% 0%;
  position: relative;
    overflow: hidden;
}

#recommends::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('./assets/images/recommends.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  z-index: -1;
}

#recommendsBoxes{
  width: 80%;
  margin: auto;
  display: flex;
  margin-top: 30px;
}

.recommendsBox{
  width: 30%;
    float: right;
    margin: 10px;
    text-align: center;
    background-color: #ffffffb3;
    box-shadow: 0px 0px 5px 0px #7c7c7c;
}

.recommendsBox p{
    margin: 28px;
}

.recommendsBoxName{
  height: 10px;
    padding: 28px;
    text-align: left;
    background-color: #dab7b7;
}

.recommendsBoxName p{
  margin: 0px;
    line-height: 14px;
}

/***************************************/
/* homePage - boxes */

#boxes{
  width: 100%;
  /* height: 500px; */
  padding: 4% 0%;
  position: relative;
    overflow: hidden;
}

/* #boxes::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('./assets/images/recommends.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  z-index: -1;
} */

#boxesBoxes{
  width: 80%;
  margin: auto;
  display: flex;
  margin-top: 30px;
}

.boxesBox{
  width: 30%;
    float: right;
    margin: 10px;
    text-align: center;
    background-color: #ffffffb3;
    box-shadow: 0px 0px 5px 0px #7c7c7c;
}

.bigIconBox{
  width: 66px;
    height: 66px;
    align-content: center;
    border: solid 5px #dcbf92;
    border-radius: 100px;
    color: #dcbf92;
    margin: 19px auto 0px auto;
    padding: 22px;
}

.bigIcon{
  font-size: 58px;
  line-height: 60px;
}

.colorBigIcon2{
  color:#c79446;
  border: solid 5px #c79446;
}

.colorBigIcon3{
  color:#a0804d;
  border: solid 5px #a0804d;
}

.boxesBox h2{
  color: #5c2c0c;
  line-height: 56px;
}

.boxesBox p{
  margin: 0px 28px 16px 28px;
    font-size: 14px;
    font-weight: 300;
    line-height: 14px;
}

.boxesBoxName{
  padding: 28px;
    text-align: right;
    border-top: solid 1px #dedede;
    border-bottom: solid 1px #dedede;
    font-size: 13px;
    font-weight: 300;
    color: #696969;
}

.br{
  color: #c2c2c2;
    text-align: center;
    width: 30%;
    margin: 12px auto 6px auto;
    border-bottom: solid 1px #c2c2c2;
}

.red{
  color: red;
}

.green{
  color: green;
}

.boxesBoxName svg{
  font-size: 13px;
    margin: 6px 0px -3px 3px;
}

.boxesBoxName p{
  margin: 0px;
    line-height: 14px;
}

.boxesBox button:hover{
  background-color: #fff;
  color: #5c2c0c;
}

.boxesBox button{
  width: 100%;
  height: 50px;
  background-color: #5c2c0c;
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  cursor: pointer;
}

/***************************************/
/* homePage - gallery */

#gallery{
  width: 100%;
  overflow: hidden;
}

#gallery h1{
  margin: 25px 0px;

}

.gallery-container {
  position: relative;
  overflow: hidden;
}

.gallery-wrapper {
  display: flex;
  overflow: hidden;
}

.gallery-images {
  display: flex;
  transition: transform 0.5s ease;
}

.gallery-image {
  width: 25%;
  height: 100%;
  flex-shrink: 0;
}

.gallery-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-button {
  position: absolute;
  top: 50%;
  color: #919191;
  border: solid 1px #cecece;
  padding: 8px;
  cursor: pointer;
  z-index: 1;
  width: 38px;
  font-size: 18px;
  height: 38px;
  font-weight: 900;
  margin: 0px 2% 0px 2%;
  border-radius: 100px;
  line-height: 0px;
  background-color: #ffffffa5;
  box-shadow: 0px 0px 3px 0px #a9a9a9;
}

.gallery-button:hover {
  background-color: #ffffffd7;
}

.gallery-button.prev {
  left: 10px;
}

.gallery-button.next {
  right: 10px;
}

.prev::after {
  content: ">";
  margin-right: 4px;
    font-family: fangsong;
}

.next::after {
  content: "<";
    margin-left: 4px;
    font-family: fangsong;
}

.gallery-indicator {
  color: #333;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    margin: 9px;
    text-align: center;
}

/***************************************/
/* homePage - FAQ */

#faq{
  width: 100%;
  background-image: radial-gradient(at bottom right, #82745014 0%, #ffd3d32e 70%);
}

#faq h1{
  padding: 34px 0px;
}


.faq-container {
  width: 65%;
  margin: 0 auto;
  padding-bottom: 75px;
}

.faq-item {
  margin-bottom: 17px;
  overflow: hidden;
}

.faq-question .active {
  color: #a0804d !important;
}

.faq-question {
  background-color: #ffffff;
    border: none;
    display: flex;
    justify-content: space-between;
    padding: 17px;
    text-align: left;
    cursor: pointer;
    font-size: 17px;
    font-weight: 600;
    outline: none;
    color: #7A7A7A;
}

.faq-question-icon{
  float: left;
  font-size:14px;
}

.faq-answer {
  padding: 23px 41px;
    font-size: 17px;
    color: #7A7A7A;
    line-height: 25px;
  max-height: 0;
  overflow: hidden;
  padding: 0 15px; 
  transition: max-height 0.3s ease-out; 
  white-space: pre-line;
}

.faq-item.active .faq-answer {
  max-height: 500px; 
  padding: 15px; 
}


/***************************************/
/* homePage - contact */

#contact{
  width: 100%;
  height: 100vh;
  position: relative;
    overflow: hidden;
    display: flex;
}

#contactRight{
  width: 50%;
    float: right;
    align-content: center;
}

#contactRight h2{
  font-family:Brush Script MT, Copperplate, Papyrus, fantasy;
  font-size: 131px;
  color: #ffffffb5;
  text-shadow: 0px 0px 8px #525252c9;
  text-align: center;
  line-height: 70px;
}

#contactRight h1{
  font-size: 30px;
  font-weight: 800;

}

#contactLeft{
  width: 50%;
  float: right;
  background: #ffffff80;
  color: #373737;
}

#contactLeftText{
  padding:73px 15% 20px 15%;
    text-align: center;
    line-height: 25px;
}

#contactLeft h2{
  text-align: center;
}

#contactLeft p{
  margin: 4px 0px;
}

#contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('./assets/images/party.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  z-index: -1;
}

#form {
  padding: 20px;
}

#formFlex {
  display: flex;
  margin-bottom: 7px;
  gap: 13px;
  justify-content: space-between;
  flex-wrap: nowrap;
}

#contact label {
  display: block;
  font-weight: 400;
}

#contact input[type="text"],
#contact input[type="tel"],
#contact input[type="email"],
#contact input[type="date"],
#contact input[type="number"],
#contact select,
#contact textarea {
  padding: 10px;
  border: none;
  /* box-shadow: 5px 4px 0px 0px #c0a4874f; */
  height: 35px;
  font-size: 17px;
  direction: rtl;
  font-weight: 300;
  color: #545454;
  border-radius: 100px;
}

#contact input[type="text"],
#contact input[type="tel"]{
  width: 50%;
}

#kitType{
  height: 55px !important;
}

textarea {
  height: 50px;
    width: 100%;
    margin-top: 7px;
}

#contact button{
  color: #ffffff;
  margin: 9px 0% 0% 0%;
  width: 100%;
  height: 60px;
  cursor: pointer;
  font-size: 23px;
  font-weight: 600;
  border: solid;
  box-shadow: 5px 4px 0px 0px #c0a4874f;
  border-radius: 50px;
  background-color: #5c2c0c;
}

/***************************************/
/* contactUs */

#contactUs{
  padding: 5%;
    width: 90%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-image: url('./assets/images/store.jpg');
  background-position: bottom center;
}

#contactUsContainer{
  width: 80%;
    padding: 3% 5%;
    background-color: #ffffff9e;
    margin: 2% auto;
    border-radius: 21px;
}

#contactUs h2{
  padding: 3% 0%;
    text-align: center;
    color: #545454;
}

#contactUsForm{
  display: flex;
  gap: 2%;
  justify-content: space-around;
}

#contactUsForm input[type="text"],
#contactUsForm input[type="tel"],
#contactUsForm input[type="email"],
#contactUsContainer textarea {
  width: 30%;
height: 25px;
border: solid 1px #545454;
box-shadow: 5px 4px 0px 0px #c0a4874f;
color: #545454;
border-radius: 34px;
direction: rtl;
font-size: 17px;
padding: 2%;
}

#contactUsContainer textarea {
  width: 96%;
    margin: 16px 0px;
    height: 43px;
}

#contactUs button {
  width: 100%;
  color: #ffffff;
    height: 58px;
    cursor: pointer;
    font-size: 23px;
    font-weight: 600;
    border: solid;
    box-shadow: 5px 4px 0px 0px #c0a4874f;
    border-radius: 50px;
    background-color: #5c2c0c;
}

#contactUs button:hover {
  background-color: #4a1f0a;
}

/***************************************/
/* store */

#storeTitleBox{
  background-image: url('./assets/images/store.jpg');
  background-position: bottom center;
}

#storeTitle{
  text-align: center;
    display: flex;
    height: 450px;
    background-color: #ffffff4d;
    flex-direction: column;
    justify-content: center;
}

#storeTitle h1{
  align-content: center;
  float: right;
  line-height: 42px;
}

#storeTitle h2{
  font-size: 40px;
    font-weight: 200;
    color: #a0804d;
}

#storeTitle p{
  margin: 5px 20%;
  font-size: 17px;
  font-weight: 300;
  color: #636363;
}

#storeCategorys{
  height: 300px;
    padding: 0px 22%;
    background-image: url(/src/assets/images/babyBG.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.storeCategorys{
  width: 37%;
  text-align: center;
  margin: -68px 3% 0px 3%;
  padding: 3%;
  background-color: #fff;
  float: right;
  border: solid 3px #dfd1bb;
  transition: margin 1.2s ease-in-out;
}

.storeCategorys:hover{
  margin: -80px 3% 0px 3%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.categoryImg{
  width: 62%;
  margin: 5% 19% 0% 19%;
}

#storeCategorys h2{
  color: #a0804d;
}

#storeCategorys p{
  margin: 5px 0px;
    font-size: 15px;
    font-weight: 300;
    color: #636363;
}

/***************************************/
/* products */

.titleBox{
  width: 100%;
  height: 450px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#productsTitleBox{
  background-image: url('./assets/images/products.webp');
}
/* 
@keyframes slideUp {
  from {
    height: 5px;
  }
  to {
    height: 67px;
  }
} */

#productsTitleH1{
  height: 67px;
    overflow: hidden;
    animation: slideUp 0.8s ease-in-out;
}

#productsTitle{
  width: 100%;
  height: 450px;
  background-color: #ffffff8c;
  align-content: center;
}

#productsContent{
  width: 96%;
    min-height: 500px;
    background-image: url(/src/assets/images/babyBG.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5% 2%;
}

#productsBox{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.productBox{
  width: 19%;
    float: right;
    margin: 0% 2% 0% 2%;
    height: 373px;
    border: none;
}

.productBoxIn{
  min-height: 250px;
  padding: 7px;
  text-align: center;
  background-color: #fff;
  border: solid 1px #d6d6d6;
}

.productBoxIn:hover{
  min-height: 330px;
  .productBtns{ display: block;}
}

.addToWishlistBtn{
  width: 20px;
  height: 20px;
  position: absolute;
  color: #db77a1;
  font-size: 23px;
  margin-right: 14%;
  margin-top: 6px;
  z-index: 2;
  cursor: pointer;
}

.productImgBox{
  width: 100%;
    height: 180px;
    content-visibility: auto;
}

.productBtnsInput{
  display: flex;
  border: solid 1px #555;
}

.productBtnsInput input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
  outline: none;
}

.productBtnsInput input[type="number"]::-webkit-inner-spin-button,
.productBtnsInput input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.productImg{
  width: 70%;
}

.productName{
  font-size: 17px;
}

.productBtns{
  display: none;
} 

.productPrice{
  font-size: 22px;
  line-height: 46px;
  color: #a58c74;
  font-weight: 300;
}

.productQuantity{
  width: 80%;
  background-color: #ffffff;
  height: 40px;
  text-align: center;
  border: none;
  font-size: 20px;
  font-weight: 300;
}

.quantityInput{
  width: 20px;
    height: 25px;
    border: none;
    line-height: 39px;
    background-color: #fff;
    font-size: 28px;
    font-weight: 100;
    cursor: pointer;
    border-radius: 0%;
    float: left;
    margin: 0px 8px 0px 8px;
    font-family: fangsong;
}

.left{
  margin-bottom: 2px;
}

.addToCartBtn{
  width: 100%;
  background-color: #d4c0ad;
  border: none;
  height: 40px;
  text-align: center;
  box-shadow: none;
  border-radius: inherit;
  margin-top: 8px;
  font-size: 16px;
  cursor: pointer;
}

.addToCartBtn:hover{
  background-color: #bea690;
}


/***************************************/
/* packages */

#packagesTitleBox{
  background-image: url('./assets/images/packages.jpg');
}

#packagesTitle{
  width: 100%;
  height: 450px;
  background-color: #ffffff8c;
  align-content: center;
}

#packagesTitleH1{
  height: 67px;
    overflow: hidden;
    animation: slideUp 0.8s ease-in-out;
}

#packagesContent{
  width: 96%;
  min-height: 500px;
  background-image: url('./assets/images/babyBG.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5% 2%;
}

/***************************************/
/* wishlist */

#wishlist .titleBox {
  width: 100%;
  height: 220px;
  background-image: url(/src/assets/images/wishlist.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#wishlist h1{
  color: #d04c81;
}

#wishlistTitle {
  width: 100%;
  height: 220px;
  background-color: #ffffff8c;
  align-content: center;
}
#wishlistTitleH1 {
  height: 67px;
  overflow: hidden;
  animation: slideUp 0.8s ease-in-out;
}
#wishlistContent {
  width: 96%;
  min-height: 500px;
  padding: 5% 2%;
}
#wishlistProductsBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.wishlistProductBox {
  width: 19%;
  float: right;
  margin: 0% 2% 0% 2%;
  height: 373px;
  border: none;
}
.wishlistProductBoxIn {
  min-height: 250px;
  padding: 7px;
  text-align: center;
}
.wishlistProductImgBox {
  width: 100%;
  height: 180px;
  content-visibility: auto;
}
.wishlistProductImg {
  width: 70%;
}
.wishlistProductName {
  font-size: 17px;
}
.wishlistProductPrice {
  font-size: 22px;
  line-height: 46px;
  color: #a58c74;
  font-weight: 300;
}

/***************************************/
/* cart */

.boxContant {
  width: 100%;
  min-height: 100%;
}
#myCart {
  width: 59%;
  margin: 5% 9% 1% 3%;
}

.contant{
  width: 100%;
  min-height: 952px;
  display: flex;
}

.quantityInputCart{
  width: 20px;
    height: 25px;
    border: none;
    line-height: 23px;
    background-color: #fff;
    font-size: 21px;
    font-weight: 200;
    cursor: pointer;
}

.quantityInputX{
  border: none;
    cursor: pointer;
    margin-top: -3px;
    background-color: #fff;
    color: #848484;
    font-size: 15px;
}

.quantityInputBox{
  width: 71px;
  height: 26px;
  border: solid 1px #747474;
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
}

.productDataCart{
  height: 100%;
  width: 30%;
}

.contant h4{
  color: #4b4b4b;
  font-size: 26px;
  font-weight: 100;
  line-height: 58px;
  margin-bottom: 15px;
  border-bottom: 1px solid rgb(17 17 17 / 15%);
}

.contant .h5 {
  color: #4b4b4b;
    font-size: 18px;
    margin: 0px 0px 12px 0px;
    border: none;
    padding: 0px;
    font-weight: 300;
}

.left{
  text-align: left;
  float: left;
}

#productCart{
  border-bottom: 1px solid rgb(17 17 17 / 15%);
}

.myCartContant{
  display: flex;
    margin: 15px 0px 15px 0px;
    justify-content: flex-start;
}

.productImgCartBox{
  width: 16%;
    margin-left: 5%;
    height: 100%;
    border: solid 1px #c5c5c5;
}

.productImgCart{
  width: 100%;
    height: 100%;
}

.itemDataCart {
  width: 13%;
    font-weight: 300;
    font-size: 107%;
    text-align: left;
}

#orderSummary{
  width: 23%;
    padding: 0px 16px;
    margin: 5% 0% 1% 6%;
}


#checkoutButton:hover{
  background-color: #b18035;
}

#checkoutButton {
  width: 100%;
  max-width: 360px;
  height: 47px;
  background-color: #c79446;
  color: #fff;
  font-size: 19px;
  border: none;
  font-weight: 300;
  line-height: 40px;
  margin: 20px 0px 20px 0px;
  cursor: pointer;
  padding: 0px;
}

/***************************************/
/* SideCart */

#sideCart {
  width: 88%;
  height: 418px;
  margin: 5% 9% 1% 3%;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 12px;  
}

::-webkit-scrollbar-thumb {
  background-color: #5c2c0c;  
  border-radius: 20px;  
  border: 1px solid #fbfaf8; 
}

#sideCartContant{
  position: fixed;
  top: 0px;
  left: 0;
  background: #fff;
  z-index: 10;
  width: 30%;
  min-height: 952px;
  display: flex;
  flex-direction: column;
}

#sideCartBtn{
  position: absolute;
    background: none;
    border: none;
    color: #fff;
    font-size: 25px;
    height: 100px;
    margin-right: 10px;
}

#sideCartTitle{
  height: 100px;
  background-color: #5c2c0c;
  color: #fff;
  align-content: center;
}

#sideCartTitle h2{
  text-align: center;
  font-size: 31px;
    font-weight: 300;
}

 .sideCartProductDataCart{
  height: 100%;
  width: 36%;
}

.sideCartProductImgCartBox{
  width: 20%;
  margin-left: 9%;
  height: 100%;
  border: solid 1px #c5c5c5;
}

#sideCartOrderSummary{
  width: 73%;
    padding: 0px 16px;
    margin: 5% auto 0% auto;
    font-size: 20px;
    font-weight: 300;
}

#sideCartButton:hover{
  background-color: #d4b381;
}

#sideCartButton {
  cursor: pointer;
  width: 80%;
  margin: 41px auto;
  height: 47px;
  background-color: #dcbf92;
  color: #fff;
  font-size: 19px;
  border: none;
  font-weight: 400;
  line-height: 40px;
}

/***************************************/
/* checkout */

#checkoutContant{
  width: 100%;
  min-height: 952px;
  display: flex;
}

#checkoutRight{
  width: 50%;
}

#checkoutLeft{
  width: 33%;
}

#checkoutContant h4{
  color: #4b4b4b;
  font-size: 26px;
  font-weight: 100;
  line-height: 58px;
  margin-bottom: 15px;
  border-bottom: 1px solid rgb(17 17 17 / 15%);
}

#checkoutContant .h5 {
  color: #4b4b4b;
    font-size: 18px;
    margin: 0px 0px 12px 0px;
    border: none;
    padding: 0px;
    font-weight: 300;
}

#checkoutLeft .quantityInputBox{
  border: none;
  text-align: center;
    display: block;
}

.formChack {
  max-width: 69%;
    margin: 1% 11% 1% 13%;
    padding: 36px;
    background-color: #ffffff91;
    border-radius: 5px;
    box-shadow: none;
}

.labelChack {
  display: inline-block;
  width: 100%;
}

#myCartCheck {
    background-color: #0000000f;
    padding: 15px;
    border-radius: 4px;
    height: fit-content;
    margin-top: 11%;
    margin-bottom: 20%;
}

#checkoutButton:hover{
  background-color: #b2895f;
}

#checkoutButton {
  margin: 4% 0%;
  cursor: pointer;
}

#edit{
  font-size: 13px;
    color: #444;
    width: 54px;
    display: inline;
    float: left;
    text-align: right;
    text-decoration: underline;
}

#checkoutContant input:not([type="file" i], [type="image" i], [type="checkbox" i], [type="radio" i]) {
  width: 50%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  float: left;
}

#checkoutContant select:not(:-internal-list-box) {
  width: 43%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  float: right;
}

#checkoutContant select {
  width: 43%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  float: right;
}

#checkoutContant input[type="text"],
#checkoutContant input[type="email"],
#checkoutContant textarea {
  width: 95%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#checkoutContant input[type="submit"] {
  background-color: #a8815a;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: 20px;
  font-weight: 100;
}

#checkoutContant input[type="submit"]:hover {
  background-color: #7d5a37;
}

/***************************************/
/* creditCard */

.credit-card-form {
  width: 100%;
}

.form-group {
  width: 100%;
  margin: 7% 0%;
}

/***************************************/
/* personalArea*/

#personalArea{
  padding: 3% 17%;
  font-weight: 300;
}

#personalArea h1{
  padding: 3% 0%;
  color: #af7f35;
}

#customerDetails{
  background-color: #eeeeee;
  padding: 4%;
}

#customerDetailsName{
  width: 100%;
  display: flow-root;
}

#customerDetailsName h2{
  width: 90%;
  float: right;
}

#personalArea h2{
  font-weight: 200;
  font-size: 30px;
  color: #565656;
  border-bottom: solid 1px #ababab;
}

.deleteUser{
  float: left;
    font-size: 13px;
    color: #565656;
    cursor: pointer;
}

.deleteUser svg{
  margin: 0px 2px -3px 0px;
  font-size: 16px;
  color: #999;
}

#orders h2 {
  margin-bottom: 20px;
}

#orders h3 {
  line-height: 41px;
  font-weight: 300;
}

#userIcon{
  float: left;
  font-size: 41px;
  color: #c79446;
}

.customerDate{
  color: #999;
    margin: -10px 0px 20px 0px;
}

#orders{
  padding: 4%;
  background-color: #ffffff;
}

.order {
  border: 1px solid rgb(204, 204, 204);
  margin-bottom: 10px;
  padding: 10px;
}

.order .item{
  display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.field {
  line-height: 27px;
  font-weight: 300;
  font-size: 17px;
}

#personalArea label {
  display: block;
  font-weight: 300;
}

#personalArea span {
  min-width: 155px;
    padding: 2px 14px;
    margin: 0px 7px 6px 7px;
    display: inline-block;
    background-color: #f6f6f6;
}

#personalArea input {
  min-width: 155px;
  padding: 2px 14px;
  margin: 0px 7px 6px 7px;
  display: inline-block;
  background-color: #f6f6f6;
  border: none;
  height: 29px;
  font-size: 17px;
  font-weight: 300;
  box-shadow: inset 0 0 5px #a7a7a7;
}

.field svg {
  margin-right: -32px;
  padding-right: 2px;
  z-index: 3;
  position: relative;
  color: #9d9d9d;
  margin-bottom: -3px;
  border-right: solid 1px #c2c2c2;
  cursor: pointer;
}

.detailsIcons svg{
  float: right;
  margin: 7px 0px 0px 10px;
  border-right: none;
  color: #9d9d9d;
  cursor: default;
  font-size: 17px;
}

.fail{
  margin: 0px 28px 0px 0px;
  font-size: 18px;
  border-right: none;
}

.password{
  -webkit-text-security: disc !important;
}

.field button {
    border: none;
}

#noCangeDetails{
}

.change{
  line-height: 27px;
  font-weight: 300;
  font-size: 17px;
}

.noChange{
  line-height: 30px;
  font-weight: 300;
  font-size: 17px;
  display: flex;
  width: 40%;
  flex-direction: row;
  justify-content: flex-start;
}

.noChangeIn{
  margin-right: 10px;
}

.detailsItem{
  float: right;
    width: 20%;
    border-bottom: inset;
    align-content: center;
}

.detailsItemTitle{
  float: right;
    width: 20%;
    border-bottom: inset;
    align-content: center;
    background-color: #eeeeee;
    font-weight: 500;
}

.detailsItemImg{
  width: 30px;
}

/***************************************/

/* thanks */

#thanks {
  padding: 5%;
  background-attachment: fixed;
  background-size: cover;
  background-image: url(/src/assets/images/babyBG.png);
}

.faRegCheckCircle {
  width: 100%;
  height: 159px;
  margin: 7% auto 4% auto;
  color: #2f8d45;
  float: none;
}

#thanksTitle {
  padding: 39px 0px 19px 33px;
  text-align: center;
  line-height: 30px;
  color: #a8815a;
  font-size: 38px;
  background-color: #ede4db57;
}

#thanksTitle p {
  font-size: 20px;
  line-height: 65px;
}

#backHome{
  margin: auto;
  font-size: 15px;
  line-height: 57px;
  text-align: center;
  width: 30%;
  display: block;
}

#backHome svg{
  margin-right: 5px;
    font-size: 18px;
    margin-bottom: -3px;
}

/***************************************/

/* SignUp.css */
.signup-container {
  padding: 20px;
}

.signup-container h2 {
  text-align: center;
}

.signup-container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.signup-container button {
  width: 100%;
  margin: 27px 0;
}

.error-message {
  color: red;
  text-align: center;
}

/* #successSignUp{
  display: none;
} */

.successSignUp {
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

/***************************************/

/* Login.css */

.login-container {
  position: fixed;
  left: 0;
  height: 100vh;
  max-width: 23%;
  padding: 20px;
  background-color: #fffffff0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 5;
}

.login-container h2 {
  text-align: center;
    line-height: 78px;
}

.login-container input {
  width: 90%;
    padding: 10px;
    margin: 10px 0px;
    height: 31px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-weight: 200;
    box-shadow: none;
}

.login-container button {
  width: 100%;
  margin: 27px 0;
  color: #ffffff;
    height: 58px;
    cursor: pointer;
    font-size: 23px;
    font-weight: 600;
    border: solid;
    box-shadow: 5px 4px 0px 0px #c0a4874f;
    border-radius: 50px;
    background-color: #5c2c0c;
}

.login-container button:hover {
  background-color: #4a1f0a;
} 

.error-message {
  color: red;
  text-align: center;
}

/***************************************/

#notFound{
  width: 100%;
}

#p404{
  background-image: url('./assets/images/babyBG.png');
  background-position: center;
  background-size: cover;
  height: fit-content;
  background-repeat: no-repeat;
  position: relative;
}

#p404 h1 {
  text-align: center;
  font-size: 706%;
  background-color: #ede4db00;
  margin: auto;
  text-shadow: 0 0 6px #ffffff;
  padding: 0px;
}

#p404 h2 {
  margin: 0px auto 30px auto;
    font-size: 40px;
    text-align: center;
}

#p404 h3 {
  color: #664b2f;
  font-size: 21px;
  text-align: center;
  font-weight: 400;
  width: 72%;
  margin: 3% auto;
  border-radius: 8px;
}

#goBack404 {
  display: block;
  width: 12%;
  height: 40px;
  line-height: 40px;
  color: #a8815a;
  text-align: center;
  margin: auto;
}

.bold{
  font-weight: 600;
}

/***************************************/


#footer{
  width: 100%;
  height: 350px;
  background-color: #76685a;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-top: 60px;
}

.navFooter{
  width: 33%;
    align-content: center;
    padding: 3%;
}

.navFooter h3{
  color:#5c2c0c;
  margin: 10px 0px;
}

.navFooter svg{
  margin: 0px 0px -3px 3px;
}

.logoImgFooter{
  width: 50%;
}

.footerLink:hover{
  color: #fff;
  font-weight: 400;
}

.footerLink{
  width: 100%;
  display: block;
  text-align: right;
  color: #ffffffa3;
  font-weight: 300;
  line-height: 30px;
}

#by{
  width: 100%;
  height: 45px;
  line-height: 46px;
  color: #fff;
  background-color: #5a4e42;
  text-align: center;
  letter-spacing: 4px;
  font-weight: 200;
}