#users{
  width: 100%;
  height: 900px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Assistant", assistant, heebo, rubik, open sans hebrew;
  /* color: #5c2c0c; */
}

body{
  direction: rtl;
  margin: 0px;
}

#root{
  margin: 0px;
}

#layout{
margin: 0px;
display: grid;
}

a{
  text-decoration: none;
  color: #5c2c0c;
}

h1{
  font-size: 53px;
  font-weight: 700;
  text-decoration: none;
  color: #a0804d;
  text-align: center;
}

button {
  color: #ffffff;
    height: 58px;
    cursor: pointer;
    font-size: 23px;
    font-weight: 600;
    border: solid;
    box-shadow: 5px 4px 0px 0px #c0a4874f;
    border-radius: 50px;
    background-color: #5c2c0c;
}

button:hover {
  background-color: #4a1f0a;
}

/***************************************/
#darkBody{
  z-index: 1 !important;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
}

.logoImg{
  width: 100px;
  float: right;
  margin: 5px 26px;
}

#menuBox{
  width: 100%;
  height: 70px;
  z-index: 10;
}

#menu{
  width: 100%;
  height: 70px;
  background-color: #ffffffa1;
  flex-direction: row;
  display: flex;
  justify-content: flex-start;
  position:fixed;
}

#menuLogo{
  width: 20%;
}

#menuLinks{
  width: 85%;
    flex-direction: row;
    display: flex;
    justify-content: flex-end;
}

.menuLink {
  position: relative;
    display: inline-block;
    line-height: 19px;
    padding: 0px 1.9%;
    text-align: center;
    color: #5c2c0c;
    text-decoration: none;
    height: 70px;
    align-content: center;
}

.menuLink:hover {
  background-color: #deb88721;
}

.menuLink::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #5c2c0c; 
  transition: width 0.4s ease, left 0.4s ease; 
}

.menuLink:hover::after {
  width: 100%; 
  left: 0; 
}

#secondMenu{
  display: none;
}

#newBorn{
  background-color: #c79446;
  padding: 0px 10px;
  width: 147px;
  height: 70px !important;
}

#secondMenuNB{
  height: 70px;
  align-content: center;
}

.secondMenuLinks{
  width: 157px;
    margin-right: -10px;
    padding: 0px 5px;
    background-color: #ffffff96;
    color: #5c2c0c;
    height: 56px;
    line-height: 16px;
    border-top: solid 1px #ddd;
    display: block;
    font-size: 15px;
    align-content: center;
}

.secondMenuLinks:hover{
  background-color: #ffffffe0;
}

#menuIcons{
  display: flex;
  margin: 19px 20px 0px 20px;
}

.menuIcon{
  width: 46px;
  font-size: 25px;
  text-align: center;
}

#loginContainer{
  display: grid;
  align-content: center;
}

#loginUpBtn{
  height: 25px;
}

#loginUser{
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  align-content: start;
}

#toUp{
  position: fixed;
  left: 30px;
  bottom: 20px;
}

#toUp svg{
  font-size: 45px;
  color: #c79446;
}

/***************************************/


#homePage{
  width: 100%;
  display: grid;
}

#homePage h1 {
  font-size: 50px;
  font-weight: 200;
  text-decoration: none;
  color: #373737;
  text-align: center;
}

#video{
  width: 100%;
}

.contentText{
  display: flex;
  position: absolute;
  height: 300px;
  right: 49%;
  bottom: 10%;
}

.contentVideo{
  width: 100%;
  float: right;
  display: flex;
}

/* VideoTitle */
.type-container {
  display: flex;
    align-items: flex-start;
    font-size: 47px;
    line-height: 48px;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 5px;
    flex-direction: column;
}

.typing-container {
  height: 102px;
}

.typing-text {
  display: inline;
  color:#fff;
  font-family: "Amatic SC", assistant, heebo, rubik, open sans hebrew;
  white-space: pre-wrap;
}

.typing-text-2 {
  color:#c79446;
  font-size: 60px;
  font-weight: 900;
}

.typing-text-3 {
  color: #c79446;
    font-size: 101px;
    font-weight: 900;
    margin: -65px 154px 29px 0px;
}

.typing-text-4 {
  color:#fff;
  font-size: 44px;
  font-weight: 700;
}

.cursor {
  display: inline;
  animation: blink 0.75s step-start infinite;
  color: #fff;
}

@keyframes blink {
  50% { border-color: transparent; }
}


/***************************************/


#about{
  width: 100%;
  height: max-content;
  display: grid;
}


@keyframes slideInFromBottom {
  0% {
      transform: translateY(50px);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}

#about h1 {
  color: #5c2c0c;
  margin-top: 30px;
  line-height: 100px;
  opacity: 0; 
  transform: translateY(50px); 
  animation: slideInFromBottom 1s ease-out forwards; 
}

#aboutLeft{
  width: 50%;
  float: right;
  margin: -50px 5% -86px 0px;
  z-index: 1;
  position: relative;
}

#homesplash{
  width: 86%;
}

#aboutRight{
  width: 45%;
  float: right;
}

#logoMin{
  width: 32%;
  margin: 6% 10% 2% 10%;
}

#aboutRight p{
  font-size: 17px;
    margin-top: 20px;
    line-height: 24px;
}

#aboutBtn{
  width: 189px;
    height: 50px;
    background-color: #ffffff;
    cursor: pointer;
    display: block;
    line-height: 50px;
    text-align: center;
    font-size: 19px;
    font-weight: 700;
    border: solid;
    margin: 53px auto -27px;
    z-index: 1;
    position: relative;
    border-radius: 50px;
}

#aboutInfo{
  background-color: transparent;
  background-image: linear-gradient(180deg, #C7944630 0%, #FFFFFF12 100%);
  width: 84%;
  padding: 8%;
  height: 300px;
  align-content: center;
}

.aboutInfo{
  width: 18%;
  height: 200px;
  margin: 1.5%;
  float: right;
  text-align: center;
  align-content: center;
  padding: 2%;
  z-index: 2;
  position: relative;
}

.aboutInfoTitle h2{
  font-size: 49px;
  font-weight: 800;
  line-height: 38px;
  margin: 70px 0px 40px 0px;
}

.elseMargin{
  margin: 40px 0px 10px 0px !important;
}

.aboutInfoBack{
  position: relative;
    line-height: 33px;
    float: right;
    font-size: 123px;
    width: 18%;
    height: 200px;
    margin: 0.5% -23.5% 1.5% 1.5%;
    text-align: center;
    align-content: center;
    padding: 2%;
    color: #c79446 !important;
}

/***************************************/

#ourBox{
  width: 100%;
}

#ourBoxContainer{
  display: flex;
  flex-direction: row;
}

#ourBoxText{
  width: 60%;
    float: right;
    padding: 4%;
}

.flex-container {
  display: flex;
  gap: 22px;
  height: 143px;
  align-items: start;
  justify-items: start;
}

.item {
  text-align: center;
    cursor: pointer;
    font-size: 13px;
}

.item:hover {
  text-align: center;
}

.itemIcon svg{
  font-size: 49px;
  padding: 4px 20px;
  color: #c79446;
}

.itemIcon svg:hover{
  color: #5c2c0c;
}


.itemIconButton{
  font-size: 14px;
  text-align: center;
  line-height: 8px;
  width: 67%;
  padding: 4px 0px 15px 0px;
  color: #212121;
  border: solid 2px #2f8d45;
  margin: auto;
  background-color: #2f8d4521;
}

.itemIconButton svg{
  font-size: 16px;
  text-align: center;
  margin: 7px 0px -2px 6px;
  color: #2f8d45;
}

.itemIcon:hover {
  backdrop-filter:none;
    color: #353535;
    text-shadow: 0px 0px 20px #ffffffc9;
}

.itemText{
  font-size: 14px;
}

#ourBoxImg{
  width: 40%;
  float: right;
}

.ourBoxImg{
  width: 80%;
}

/***************************************/

#recommends{
  width: 100%;
  height: 500px;
  padding: 4% 0%;
  position: relative;
    overflow: hidden;
}

#recommends::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('./assets/images/recommends.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  z-index: -1;
}

#recommendsBoxes{
  width: 80%;
  margin: auto;
  display: flex;
  margin-top: 30px;
}

.recommendsBox{
  width: 30%;
    float: right;
    margin: 10px;
    text-align: center;
    background-color: #ffffffb3;
    box-shadow: 0px 0px 5px 0px #7c7c7c;
}

.recommendsBox p{
    margin: 28px;
}

.recommendsBoxName{
  height: 10px;
    padding: 28px;
    text-align: left;
    background-color: #dab7b7;
}

.recommendsBoxName p{
  margin: 0px;
    line-height: 14px;
}

/***************************************/

#gallery{
  width: 100%;
  height: 500px;
}

.gallery-container {
  position: relative;
  height: 300px; /* קבע את הגובה שאתה רוצה */
  overflow: hidden;
}

.gallery-wrapper {
  display: flex;
  overflow: hidden;
  height: 100%;
}

.gallery-images {
  display: flex;
  transition: transform 0.5s ease;
}

.gallery-image {
  min-width: 20vw; /* גובה התמונה הוא 1/5 מהמסך */
  height: 100%;
  flex-shrink: 0;
}

.gallery-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-button {
  position: absolute;
    top: 50%;
    color: #fff;
    border: none;
    padding: 8px;
    cursor: pointer;
    z-index: 1;
    width: 38px;
    height: 38px;
    margin: 0px 2% 0px 2%;
    line-height: 0px;
    background-color: #4a1f0a4f;
    box-shadow: 0px 0px 3px 0px #a9a9a9;
}

.gallery-button:hover {
  background-color: #4a1f0a8c;
}

.gallery-button.prev {
  left: 10px;
}

.gallery-button.next {
  right: 10px;
}

.prev::after {
  content: ">";
  margin-right: 4px;
    font-family: fangsong;
}

.next::after {
  content: "<";
    margin-left: 4px;
    font-family: fangsong;
}

.gallery-indicator {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: #333;
  background: rgba(255, 255, 255, 0.7);
  padding: 5px 10px;
  border-radius: 5px;
}

/***************************************/
/* @keyframes slideInFromBottom {
  0% {
      transform: translateY(50px);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}

#about h1 {
  color: #5c2c0c;
  margin-top: 30px;
  line-height: 100px;
  opacity: 0; 
  transform: translateY(50px); 
  animation: slideInFromBottom 1s ease-out forwards; 
} */

#faq{
  width: 100%;
  background-image: radial-gradient(at bottom right, #82745014 0%, #ffd3d32e 70%);
}

#faq h1{
  padding: 34px 0px;
}


.faq-container {
  width: 65%;
  margin: 0 auto;
  padding-bottom: 75px;
}

.faq-item {
  margin-bottom: 17px;
  overflow: hidden;
}

.faq-question .active {
  color: #a0804d !important;
}

.faq-question {
  background-color: #ffffff;
    border: none;
    display: flex;
    justify-content: space-between;
    padding: 17px;
    text-align: left;
    cursor: pointer;
    font-size: 17px;
    font-weight: 600;
    outline: none;
    color: #7A7A7A;
}

.faq-question-icon{
  float: left;
  font-size:14px;
}

/* .faq-answer {
  padding: 23px 41px;
    font-size: 17px;
    color: #7A7A7A;
    line-height: 25px;
}

.faq-item.active .faq-answer {
  display: block;
} */

.faq-answer {
  padding: 23px 41px;
    font-size: 17px;
    color: #7A7A7A;
    line-height: 25px;
  max-height: 0; /* חבוי ברירת מחדל */
  overflow: hidden;
  padding: 0 15px; /* מרווח פנימי */
  transition: max-height 0.3s ease-out; /* אנימציה על שינוי הגובה */
  white-space: pre-line;
}

.faq-item.active .faq-answer {
  max-height: 500px; /* גובה מקסימלי שמתאים לתוכן */
  padding: 15px; /* חידוש המילוי כאשר התשובה פתוחה */
}


/***************************************/

#contact{
  width: 100%;
  height: 100vh;
  position: relative;
    overflow: hidden;
    display: flex;
}

#contactRight{
  width: 50%;
    float: right;
    align-content: center;
}

#contactRight h2{
  font-family:Brush Script MT, Copperplate, Papyrus, fantasy;
  font-size: 131px;
  color: #ffffffb5;
  text-shadow: 0px 0px 8px #525252c9;
  text-align: center;
  line-height: 70px;
}

#contactRight h1{
  font-size: 30px;
  font-weight: 800;

}

#contactLeft{
  width: 50%;
  float: right;
  background: #ffffff80;
  color: #373737;
}

#contactLeftText{
  padding:73px 15% 20px 15%;
    text-align: center;
    line-height: 25px;
}

#contactLeft h2{
  text-align: center;
}

#contactLeft p{
  margin: 4px 0px;
}

#contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('./assets/images/party.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  z-index: -1;
}

#form {
  padding: 20px;
}

#formFlex {
  display: flex;
  margin-bottom: 7px;
  gap: 13px;
  justify-content: space-between;
  flex-wrap: nowrap;
}

label {
  display: block;
  font-weight: 400;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="date"],
input[type="number"],
select,
textarea {
  padding: 10px;
  border: none;
  box-shadow: 5px 4px 0px 0px #c0a4874f;
  height: 35px;
  font-size: 17px;
  direction: rtl;
  font-weight: 300;
  color: #545454;
  border-radius: 100px;
}

input[type="text"],
input[type="tel"]{
  width: 50%;
}

#kitType{
    height: 60px;
}

textarea {
  height: 50px;
    width: 100%;
    margin-top: 7px;
}

#contact button{
  color: #ffffff;
  margin: 9px 0% 0% 0%;
  width: 100%;
  height: 60px;
  cursor: pointer;
  font-size: 23px;
  font-weight: 600;
  border: solid;
  box-shadow: 5px 4px 0px 0px #c0a4874f;
  border-radius: 50px;
  background-color: #5c2c0c;
}

/***************************************/


#contactUs{
  padding: 5%;
    width: 90%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-image: url('./assets/images/store.jpg');
  background-position: bottom center;
}

#contactUsContainer{
  width: 80%;
    padding: 3% 5%;
    background-color: #ffffff9e;
    margin: 2% auto;
    border-radius: 21px;
}

#contactUs h2{
  padding: 3% 0%;
    text-align: center;
    color: #545454;
}

#contactUsForm{
  display: flex;
  gap: 2%;
  justify-content: space-around;
}

#contactUsForm input[type="text"], input[type="tel"], input[type="email"],textarea {
  width: 30%;
  border: solid 1px #545454;
  box-shadow: 5px 4px 0px 0px #c0a4874f;
  color: #545454;
  border-radius: 34px;
}

#contactUsContainer textarea {
  width: 97%;
  margin: 16px 0px;
}

#contactUsContainer button {
  width: 100%;
}

/***************************************/

#storeTitleBox{
  background-image: url('./assets/images/store.jpg');
  background-position: bottom center;
}

#storeTitle{
  text-align: center;
    display: flex;
    height: 450px;
    background-color: #ffffff4d;
    flex-direction: column;
    justify-content: center;
}

#storeTitle h1{
  align-content: center;
  float: right;
  line-height: 42px;
}

#storeTitle h2{
  font-size: 40px;
    font-weight: 200;
    color: #a0804d;
}

#storeTitle p{
  margin: 5px 20%;
  font-size: 17px;
  font-weight: 300;
  color: #636363;
}

#storeCategorys{
  width: 60%;
  height: 300px;
  margin: auto;
  margin-bottom: 20px;
}

.storeCategorys{
  width: 34%;
  text-align: center;
  margin: -68px 4.5% 0px 4.5%;
  padding: 3%;
  background-color: #fff;
  float: right;
  border: solid 3px #dfd1bb;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: margin 1.5s ease-in-out;
}

.storeCategorys:hover{
  margin: -95px 4.5% 0px 4.5%;
  box-shadow: 0 0 10px rgb(0 0 0 / 37%);
}

.categoryImg{
  width: 62%;
  margin: 5% 19% 0% 19%;
}

#storeCategorys h2{
  color: #a0804d;
}

#storeCategorys p{
  margin: 5px 0px;
    font-size: 15px;
    font-weight: 300;
    color: #636363;
}

#storeContent{
  width: 100%;
  min-height: 500px;
  background-image: url('./assets/images/babyBG.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#storeContent button{
  margin: -7% 35% 2% 35%;
  width: 30%;
}

/***************************************/

.titleBox{
  width: 100%;
  height: 450px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#productsTitleBox{
  background-image: url('./assets/images/products.webp');
}

@keyframes slideUp {
  from {
    height: 5px;
  }
  to {
    height: 67px;
  }
}

#productsTitleH1{
  height: 67px;
    overflow: hidden;
    animation: slideUp 0.8s ease-in-out;
}

#productsTitle{
  width: 100%;
  height: 450px;
  background-color: #ffffff8c;
  align-content: center;
}

#productsContent{
  width: 100%;
  min-height: 500px;
  background-image: url('./assets/images/babyBG.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/***************************************/

#packagesTitleBox{
  background-image: url('./assets/images/packages.jpg');
}

#packagesTitle{
  width: 100%;
  height: 450px;
  background-color: #ffffff8c;
  align-content: center;
}

#packagesTitleH1{
  height: 67px;
    overflow: hidden;
    animation: slideUp 0.8s ease-in-out;
}

#packagesContent{
  width: 100%;
  min-height: 500px;
  background-image: url('./assets/images/babyBG.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}


/***************************************/

/* SignUp.css */
.signup-container {
  padding: 20px;
}

.signup-container h2 {
  text-align: center;
}

.signup-container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.signup-container button {
  width: 100%;
  margin: 27px 0;
}

.signup-container button:hover {
}

.error-message {
  color: red;
  text-align: center;
}

#successSignUp{
  display: none;
}

/***************************************/

/* Login.css */

.login-container {
  position: fixed;
  left: 0;
  height: 100vh;
  max-width: 23%;
  padding: 20px;
  background-color: #fffffff0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 5;
}

.login-container h2 {
  text-align: center;
    line-height: 78px;
}

.login-container input {
  width: 90%;
    padding: 10px;
    margin: 10px 0px;
    height: 31px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-weight: 200;
    box-shadow: none;
}

.login-container button {
  width: 100%;
  margin: 27px 0;
}

.login-container button:hover {
}

.error-message {
  color: red;
  text-align: center;
}

/***************************************/

#notFound{
  background-color: rgb(85, 33, 47);
  width: 100%;
  height: 500px;
}

/***************************************/


#Footer{
  width: 100%;
  height: 350px;
  background-color: #76685a;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-top: 60px;
}

.navFooter{
  width: 33%;
    align-content: center;
    padding: 3%;
}

.navFooter h3{
  color:#5c2c0c;
  margin: 10px 0px;
}

.logoImgFooter{
  width: 50%;
}

.footerLink{
  width: 100%;
  display: block;
  text-align: right;
  color: #ffffffa3;;
  font-weight: 300;
  line-height: 30px;
}

.footerLinkContact{
  width: 100%;
  display: block;
  text-align: right;
  color: #ffffffa3;;
  font-weight: 300;
  line-height: 30px;
}

#by{
  width: 100%;
  height: 45px;
  line-height: 46px;
  color: #fff;
  background-color: #5a4e42;
  text-align: center;
  letter-spacing: 4px;
  font-weight: 200;
}